# Environnements virtuels
venv/
.env/

# Fichiers temporaires / caches Python
__pycache__/
*.pyc
*.pyo

# Données et modèles (ignored, but allow DVC metadata)
data/** 
!data/**/*.dvc

models/


# Notebooks checkpoints
*.ipynb_checkpoints/